.container, .container-fluid {
	margin-top: 20px;
	padding-bottom: 40px;
}

.list-heading {
	background: #f0f0f0;
}

.no-overflow {
	max-width: 197px;
	white-space: nowrap;
	overflow: hidden;	
	text-overflow: ellipsis;
}

#user-select {
	border-radius: 0 .25rem .25rem 0;
}

.custom-select {
	display: block;
}

.tags {
	display: block;
	margin-top: 10px;
}
.tags > .badge {
	padding: 4px 6px;
	margin: 2px; 
}

.problem-metadata {
	animation-duration: 0.75s;
}
.problem-metadata > * {
	margin-bottom: 15px;
}

.close-issue {
	padding-left: 0 !important;
	margin-top: -1px;
	margin-left: -2px;
}

.nav-item {
	display: flex;
}

.fa-small {
	font-size: 12px;
}

.green {
	color: #2ecc71;
}
.orange {
	color: #f39c12;
}
.red {
	color: #e74c3c;
}